html { 
   height: 125%; background: #efeee7;
} 
header {
	background: #ccc;
	padding: 0px;
	margin-bottom: 0;
	color: white;
	height:15%; 
	width:100%;
}
h1{
	background: white;
	position: absolute;
	top:0%; 
	height:16%;
	width:100%;
	padding: 0%; 
	color: white;
	margin: 0;
	font-size: 28px;
	text-align: left;
	margin-bottom: 0px;
}

#Name { float: left;
		background:teal; 
		padding: 122px 25px 0px 25px ; 
		position:absolute; 
		top:0%; 
		left:150px;


}

#navmenu ul { position: absolute;
		top:54%; right:5%;
		margin: 0; padding: 0px 150px 15%; 
		list-style-type: none; list-style-image: none; float:right;}

#navmenu li {display: inline; }
#navmenu ul li a {text-decoration:none;  margin: 4px;
	padding: 40px 25px 0px 20px; color: black; font-size: small;
	background: white; float:right; font-size: 20px}
#navmenu ul li a:hover {color: white;
	background: teal; float:right;} 
label {
    display:block;
    margin-top:10%; 
    margin-left: 3%;
    letter-spacing:2px;
} 
#infobox {
	position: absolute;
	top:22%;
	right:44%;
	background: white; 
	height:30%; 
	width:15%; 
	padding:0% 0% 0% 5%; 
	border:solid;
} 
