html { 
   height: 125%; background: #efeee7; width:100%;
} 
header {
	background: #ccc;
	padding: 0px;
	margin-bottom: 0;
	color: white;
	height:15%; 
	width:100%;
}
h1{
	background: white;
	position: absolute;
	top:0%; 
	height:16%;
	width:100%;
	padding: 0%; 
	color: white;
	margin: 0;
	font-size: 28px;
	text-align: left;
	margin-bottom: 0px; 

}

#Name { float: left;
		background:teal; 
		padding: 122px 25px 5px 25px ; 
		position:absolute; 
		top:0%; 
		left:150px;


}

#navmenu ul { position: absolute;
		top:54%; right:5%;
		margin: 0; padding: 0px 150px 15%; 
		list-style-type: none; list-style-image: none; float:right;}

#navmenu li {display: inline; }
#navmenu ul li a {text-decoration:none;  margin: 4px;
	padding: 40px 25px 5px 20px; color: black; font-size: small;
	background: white; float:right; font-size: 20px}
#navmenu ul li a:hover {color: white;
	background: teal; float:right;} 
#portfolio { position:absolute;
				top:25%; 
				right:50%; 
				font-family: 'Georgia', Times, Times New Roman, serif; 
				font-size: 40px; 
				color:teal;


} 
#portfolio-box { position:absolute; 
				top:22%; 
				right:50%%; 
				left:28%; 
				background: white; 
				height:88%;
				width:35%;  
}

#ipadapp {
  position: absolute; 
  top:35%; 
  right:55%;  
  object-fit: fill;
}
#rpggame {
	position:absolute;
	top:35%;
	left:45%;
}
#triviagame{
	position:absolute;
	top:60%;
	right:55%;
}
#widget{
	position:absolute;
	top:60%;
	left:45%;
}
#rps{
	position:absolute;
	top:85%;
	right:46%;
}
footer {
	background: #ccc;
	position:absolute;
	padding: 20px;
	clear: both;
	text-align: center; 
	width:100%; 
	top:125%;
} 
#contact-info {
	float: right;
	width: 33%;
	margin-left: 30px;
	padding: 20px;
	height: 200px;
	background: #fff;
	border: 20px solid #eee; 
	margin-top:15%;