
body {
	margin: 0;
	padding: 0;
	background: #efeee7;
	font-size: 18px;
	line-height: 150%;
	font-family: "Georgia",Times New Roman,Times,serif;
	color: #333333;
}
section {
	padding: 20px;
	background: #ccc;
	margin-bottom: 20px;
}

header {
	background: #ccc;
	padding: 0px;
	margin-bottom: 0;
	color: white;
	height:15%; 
	width:100%;
}
#Name { float: left;
		background:teal; 
		padding: 122px 25px 4px 25px ; 
		position:absolute; 
		top:0px; 
		left:150px;


}

#navmenu ul {margin: 0; padding: 0px 150px; 
	list-style-type: none; list-style-image: none; float:right;}

#navmenu li {display: inline; }
#navmenu ul li a {text-decoration:none;  margin: 4px;
	padding: 40px 25px 5px 20px; color: black; font-size: small;
	background: white; float:right;}
#navmenu ul li a:hover {color: white;
	background: teal; float:right;}
h1 {
	background: white;
	padding: 4%;
	color: white;
	margin: 0;
	font-size: 28px;
	text-align: left;
	margin-bottom: 0px;
}





}
#aboutme{ 
		position:absolute;
		right: 30%;
		top:50%; 
		
}
p {
	font-family: "Arial", 'Helvetica Neue', Helvetica, sans-serif;
}
.container {
	margin-left:100%;
	margin-top:100%;
	margin: 0;
}

#main-bio {
	background: white;
	height:70%; 
	width:28%;
	padding: 20px;
	margin-top: 4%;
	position:absolute; 
	right:39%;
	top:24%;
	border-style: double;
}
#contact-info {
	float: right;
	width: 33%;
	margin-left: 30px;
	padding: 20px;
	height: 200px;
	background: #fff;
	border: 20px solid #eee;
}
#bio-image {
	float: right;
	position:absolute;
	top:17%;
	width: 51%;
	margin-top: 5%;
	margin: 5%;
	padding: 2% 0% 7% 5%;
	height: 65%;
	background: #fff;
	border: 10px solid black;
	
}  
footer {
	background: #ccc;
	position:absolute;
	padding: 20px;
	clear: both;
	text-align: center; 
	width:100%; 
	top:120%;
}

